.gallery{
  position: relative;
  padding-top: 75px;
  min-height: 100vh;
  max-width: 97%;
  margin-inline: auto;
}

.search_head{
  position:sticky;
  top: 69px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px 10px;
  color: var(--primary-text-color);
  z-index: 18;
}
.search_head span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 23px;
  border: 0.15rem solid #333;
  border-radius: 50%;
  cursor: pointer;
}
.search_head p{
  font-size: 25px;
}


/* Masonry grid */
.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

/* Style your images or other content */
.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--loading-color);/* Fallback for blur effect */
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); */
  border: 0.0015rem solid #5f5f5f;
  margin-bottom: 16px;
}

.image-container img {
  display: block;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-container img.loaded {
  opacity: 1;
}

.blurhash-placeholder {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-container .image_content {
  position: absolute;
  bottom: -50%;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 7px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
  transition: bottom .3s ease-in-out;
  z-index: 5;
}
.image-container:hover .image_content{
  bottom: 10px;
}
.image-container .image_content span{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  max-width: 80%;
}
.image-container .image_content h3{
  max-width: 80%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.img_dwn,.img_holder,.img_like {
  background-color: #ffffff;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #18360d;
  cursor: pointer;
  font-size: 20px;
}
.img_holder{
  background-color: rgb(105, 134, 57);
  color: #fff;
  font-weight: 650;
}
.img_like,.img_delete {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
  z-index: 5;
}

.image-container:hover .img_like,.image:hover .img_delete{
  opacity: 1;
  pointer-events: all;
}

.load{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-top: 15px;
}
.load svg{
  height: 40px;
  width: 40px;
  object-fit: contain;
  animation: load 1.5s linear infinite;
}
.load svg path{
  fill: var(--main-color);
}

.not__found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: calc(100vh - 160px);
  /* animation: fadein 10s ease-in; */
}
.not__found img{
  width: 400px;
  height: 300px;
  object-fit: contain;
}
.not__found h2{
  font-weight: 600;
  font-size: 30px;
  color: var(--secondary-text-color);
}





@media screen and (max-width : 767px){
  .gallery{
    max-width: 95%;
  }

  .image-container .image_content,
    .image-container:hover .image_content {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    padding-block: 15px;
  }
  .image-container .image_content h3{
    font-weight: 530;
  }
  .img_like,.img_delete{
    opacity: 1;
    pointer-events: all;
    width: 30px;
    height: 30px;
  }
  .img_dwn,.img_holder{
    width: 30px;
    height: 30px;
  }

    .gallery_container .images_list{
        max-width: 95%;
        /* gap: 10px;
        columns: 5 200px; */
    }
}